.npf-audio-wrapper {
    width:100%;
    box-sizing:border-box;
}

.npf-audio-wrapper + .npf-audio-wrapper {
    margin-top:1em;
}

.npf-audio-wrapper, .npf-audio-background {
    display:flex;
    align-items:center;
}

.npf-audio-background {
    flex:1;
    height:var(--NPF-Audio-Image-Size);
    box-sizing:border-box;
}

.npf-audio-details {
    display:block;
    flex:1
}

.npf-audio-details > * {
    display:block;
}

.npf-audio-wrapper > .post_media_photo_anchor {
    display:block;
    width:var(--NPF-Audio-Image-Size)!important;
    flex-shrink:0
}

.npf-audio-image {
    margin-left:var(--NPF-Audio-Image-Spacing);
    width:var(--NPF-Audio-Image-Size)!important;
    height:var(--NPF-Audio-Image-Size)!important;
    min-width:auto!important;
    object-fit:cover;
    flex-shrink:0
}

.npf-audio-buttons {
    margin-right:var(--NPF-Audio-Buttons-Spacing);
    width:var(--NPF-Audio-Buttons-Size);
    height:var(--NPF-Audio-Buttons-Size);
    line-height:0;
    flex-shrink:0;
    cursor:pointer;
}

.npf-audio-buttons svg {
    display:block;
    width:100%;
    height:100%;
    line-height:0;
}

.npf-audio-pause svg {
    margin-left:-1px;
}
